:root {
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
    line-height: 2.5;
    font-weight: 400;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.red{
    color: red;
}

.purple{
    color: rgb(48, 0, 204);
}
.green{
    color: green;
}